* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.general {
    margin: 0 auto;
}
li {
    display: flex;
    list-style: none;
    
}
a {
    text-decoration: none;
}
header {
    background-color: #f6f6f6;
    padding: 22px 0;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-container a{
    color: #000;
    font-size: 16px;
    margin-right: 63px;
    padding: 27px 6px;
}
.header-container a:hover {
    background: #ffea00;
}
#menu-checkbox {
    display: none;
}
ul {
    display: flex;
}
nav {
    margin-top: 20px;
}

.top-slide {
    background: url(img/slider_bg.jpg) no-repeat;
    background-size: 100%;
    padding-top: 120px;
    padding-bottom: 275px;
}
.top-container {
    width: 85%;
    margin: 0 auto;
}
.top-slide h2 {
    background: #ffea00;
    display: inline;
    font-size: 70px;
    padding: 0 13px;
}

.top-slide :nth-child(2) {
    margin-bottom: 10px;
}
.top-container p {
    background: #414146;
    display: inline;
    font-size: 24px;
    color: #f6f6f6; 
    padding: 0 5px ;
}
.specialize-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
}
.specialize-container h3 {
    font-size: 35px;
}
.specialize-container p {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 40px;
}
.card {
    max-width: 250px;
    margin-right: 50px;
}
.card .first-p {
    font-size: 18px;
    color:#f6f6f6;
    padding: 18px 5px 30px;
}
.botom-card {
    background: #414146;
    position: relative;
    top: -30px;
}
.specialize-cards {
    display: flex;
    justify-content: space-between;
}
.portfolio {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.portfolio h4 {
    background: #424147;
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
    color: #f5e10a;
    margin-bottom: 30px;
}
.portfolio p {
    color: #424146;
    font-size: 16px;
}
.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 0;
    background-color: #fff;
}
.toggles button::after {
    content: ' / ';
}
.toggles button:last-child::after {
    content: none;
}
.posts {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto; /*количество колонок */
    gap: 10px;
}
.posts img{
    width: 100%;
}
.brand-slider {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.brand-slider h4{
    margin-top: 40px;
    background: #424147;
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
    color: #f5e10a;
    margin-bottom: 30px;
}
.brand-slider p {
    color: #424146;
    font-size: 16px;
    margin-bottom: 40px;
}
/* ---------------------------- */
.footer-block {
    margin: 0 auto;
    background-color: #414146;
    /* min-height: 570px; */
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}
.footer-block a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.top-block {
    display: flex;
    flex-grow: 1;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 25px;
}
.block {
    max-width: 30%;
}
.block h4{
    margin-bottom: 25px;
}
/* -------------------------------- */
.left-side button{
    margin-top: 30px;
    display: inline-block;
    background-color: #000;
    color: white;
    border: none;
    outline: none;
    padding: 5px 20px;
    border-bottom: 2px solid yellow;
    font-size: 16px;
}
.left-side h4{
    margin-top: 40px;
}
.photo-stream {
    width: 90%;
    display: grid;
    /* margin: 0 auto; */
    text-align: left;
    grid-template-columns: auto auto auto; /*количество колонок */
    gap: 0 6px;
}
.photo-stream img{
    width: 100%;
}

.center-side ul{
    display: flex;
    flex-direction: column;
}
.center-side li{
    list-style-type: none;
    margin-bottom: 40px;
}
.center-side li::before{
    content: url(img/Twitter-birs-icon.png);
    margin-right: 20px;
}
.right-side ul{
    display: flex;
    flex-direction: column;
}
.right-side li{
    list-style-type: none;
    margin-bottom: 30px;
}
.right-side li:nth-child(2){
    text-align: right;
}
.right-side li:nth-child(1)::before{
    content:url(img/Adress.png);
    margin-right: 15px;
}
.right-side li:nth-child(2)::before{
    content:url(img/Phone.png);
    margin-right: 15px;
}
.right-side li:nth-child(3)::before{
    content:url(img/email.png);
    margin-right: 15px;
}
.right-side h4{
    margin-bottom: 15px;
}
.right-side input{
    margin-top: 20px;
    min-width: 70%;
    background-color: #414146;
    border: none;
    outline: none;
    border-bottom: 3px solid yellow;
    color: white;
    font-size: 18px;
}
.email-field img{
    margin-bottom: -10px;
}
.center-side .SocCon{
    display: flex;
    margin-top: 20px;
    text-align: left;
}
.SocCon h4{
    margin-right: 15px;
}
/* ------------------------ */
.bottom-block {
    background-color: #000;
    min-height: 70px;
    min-width: 100%;
    margin: 0 auto;
}
.botom-menu {
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
}















@media (max-width: 780px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000;
        margin-top: 20px;
    }
    .toggle-button::after{
        content: attr(data-open); /* обращаемся к атрибуту data-open */
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu{
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button::after{
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu{
        position: relative;
        top: 20px;
        right: 40px;
    }

    .top-slide {
        padding-top: 30px;
        padding-bottom: 15px;
        background-repeat: round;

    }
    .top-slide h2 {
        font-size: 32px;
    }
    .top-container p {
        font-size: 16px;
    }
    .specialize-container {
        margin-top: 40px;
    }
    .specialize-container p {
        font-size: 16px;
    }
    .specialize-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card {
        max-width: 250px;
        margin-right: 50px;
        margin: 0 auto;
    }
    .botom-card {
        width: 250px;
        margin: 0 auto;
    }
    .posts {
        max-width: 90%;
        display: grid;
        margin: 0 auto;
        grid-template-columns: auto; /*количество колонок */
    }
    .post img {
        max-width: 90%;
    }
    .top-block {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }
    .block {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .left-side p{
        margin-bottom: 20px;
    }
    .photo-stream {
        text-align: center;
        width: 100%;
        grid-template-columns: auto auto;
    }
    .center-side {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .right-side {
        margin: 0 auto;
        margin-bottom: 80px;
    }
    .right-side ul{
        padding: 0 80px;
        text-align: left;
    }
    .right-side input{
        margin-top: 50px;
    }
    .botom-menu{
        justify-content: space-around
    }
   
}


